<div class=''>
  <div class>
    <h1 class>unhappy_books</h1>
    <div class>
      <p>unhappy_booksはハッピーエンド以外の本を求めている少し変わった人たちのためのアプリです。</p>
      <p>本アプリでは以下のような機能があります。</p>
      <p>・本をレビューできる。</p>
      <p>・気になる本をお気に入りできる。</p>
      <p>・ユーザーのレビューにいいねができる。</p>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %> <%= link_to 'ゲストログイン(管理者)', users_guest_admin_sign_in_path, method: :post %>
    </div>
  </div>
</div>
