<h1>本の一覧</h1>

<% @books.each do |book| %>
  <%= link_to (image_tag(book.image)), book.url %>
  <p><%= link_to '本のリンク', book.url %></p>
  <p><%= book.title %></p>
  <p><%= link_to '本の詳細', book_path(book.id) %></p>
<% end %>
