/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .
 *= require_self
 */
.header_links {
  background-color: #6f268c !important;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.header_links a {
  text-align: right;
  margin-left: 20px;
  color: #bfc5ca;
  transition: 0.3s;
  border: 1px;
}

.header_links a:hover {
  background-color: #411445;
  text-decoration: none;
}

.top_page {
  text-align: center;
  margin-top: 30px;
}

.top_page a {
  color: #bfc5ca;
  transition: 0.3s;
  border: 1px;
}

.top_page a:hover {
  background-color: #e6ffa6;
  text-decoration: none;
}

body {
  background-color: #444e2b;
  padding-top: 90px;
  color: #bfc5ca;
}

footer {
  background-color: #6f268c !important;
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  color: #bfc5ca;
}
